<h2 mat-dialog-title class="toobar">
  <mat-toolbar class="toobar">
    <a style="margin-left: 14px;">Nova Mensagem</a>
    <a routerLink="/home" class="closeButton" (click)="fechar()">
      <mat-icon>close</mat-icon>
    </a>
  </mat-toolbar>
</h2>


<form [formGroup]="formularioEmail" class="form" (ngSubmit)="submit()">

  <mat-form-field class="box" appearance="standard">
    <mat-label>Titulo</mat-label>
    <input formControlName="title" matInput>
    <mat-divider  style="width: 450px;"></mat-divider>
  </mat-form-field>

  <mat-form-field class="box" appearance="standard">
    <mat-label>idUser</mat-label>
    <input formControlName="idUser" matInput>
    <mat-divider  style="width: 450px;"></mat-divider>
  </mat-form-field>
 
  <mat-form-field class="boxTextArea" appearance="standard">
    <mat-label>Content</mat-label>
    <textarea matInput cols="40" rows="8" formControlName="content"></textarea>
  </mat-form-field>



  <button mat-stroked-button class="button">Enviar</button>
</form>